.popup__line {
    max-width: 358px;
    opacity: 0.2;
    border: 1px solid #000;
    margin-top: 13px;
    margin-bottom: 30px;
}

.popup__line:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 550px) {
    .popup__line {
        max-width: 228px;
    }
}