.element__vector {
    width: 21px;
    height: 18px;
    background-image: url(../../../images/Group.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 6px;
    margin-right: 7px;
}