.header__logo {
    max-width: 142px;
    height: 33px;
    background-image: url(../../../images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

@media screen and (max-width: 650px) {
    .header__logo {
        margin-left: 27px;
    }
}