.popup__button-text {
    max-width: 109px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 4;
    margin: 0;
}